{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Домой</title>
{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        <h3>Привет!</h3>
        <div>
            Выполни<a href="{% url 'auth:login' %}"> вход </a> или <a href="{% url 'auth:register' %}">зарегистрируйся</a>
        </div>
    {% else %}
        <h2>Привет, {{ user.username|title }}!</h2>
    {% endif %}
<div>{{ items.1 }}</div>
{% for item in items %}
    {% if item != 'item2' %}
        <p>{{ item }}</p>
    {% endif %}
{% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">Выход</a>
    {% endif %}
{% endblock %}
