{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
  <div class="hero-white">
    <div class="header clearfix">
      {% include 'mainapp/includes/inc_menu.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="details">
    <div class="links clearfix">
      {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

    <div class="products_list">
      <div class="title clearfix">
        <h2>
          Категория: "{{ category.name|title }}"
        </h2>
      </div>
      <div class="category-products clearfix">
          {% for product in products %}
          <div class="block">
            <a href="#">
              <img src="/media/{{ product.image }}" alt="product">
              <div class="text">
                <img src="{% static 'img/pic.jpg' %}" alt="hover">
                  <h4>{{ product.name }}</h4>
                  {% for item in basket %}
                      {% if item.product == product %}
                          <div>{{ item.quantity }}</div>
                      {% endif %}
                  {% endfor %}
                  <p>{{ product.description }}</p>
                  <a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a>
              </div>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="clr"></div>

{% endblock %}